.boutons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}
.btn-green {
  background-color: #6ab547;
  margin-left: 50px;
}
.btn {
  color: #fff;
}
.btn-green:hover {
  background-color: #f0e990;
}
.form-label {
  margin-top: 25px;
  margin-bottom: 10px;
}
